@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Rubik+Beastly&display=swap');
:root{

}
:root {
    --main-bg-color: #2874f0;
  }

*{
    padding: 0;
    margin: 0;
}

.footer{
    height: 8vh;
    /* width: 100vw; */
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Thambi 2', cursive;
    /* font-family: 'Rubik Beastly', cursive; */
    background:var(--main-bg-color);
}
.footer p{
    /* transition:cubic-bezier(0.6, -0.28, 0.735, 0.045); */
    /* transform: translate(120px, 50%); */
    /* transform: rotate(45deg); */
}
header{
    /* background: black; */
    /* height: 58px; */
    background:var(--main-bg-color);
    /* display: flex; */
}
nav ul{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li a{
    font-family: 'Baloo Thambi 2', cursive;
    padding: 0px 25px;
    color: white;
    text-decoration: none;
    /* border-right: 2px solid red; */
}
nav ul li a:hover{
    font-weight: bold;

}
nav ul li{
    list-style: none;
    
}
nav{
    display: flex;
}
.logo{
    display: flex;
    /* text-align: center; */
    align-items: center;
}
 img{
    /* width: 20px; */
    height: 5vh;
    padding: 0px 5px;
}

    
.container{
    min-height: calc(100vh - 58px - 8vh);
    background: rgb(97, 141, 199);
}
.progress{
    /* width: 3px; */
    height:1px;
    background: red;
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: 2;
    /* animation-name: finis; */
}

     @keyframes load{
         0%{

            width:0vw;
         }
         50%{
            width: 50vw;
            /* color: chartreuse; */
            background: aqua;

         }
         100%{
             width:100vw;
             /* visibility: hidden; */
             background: green;
             
         }
        
         
     }
    
     .img2{
        width: 67vw;
        height: 65vh;
        display: block;
        margin: auto;
     }
     .search{
        display: flex;
        align-items: center;
        border-radius: 20px;
    }
    
        .btn {
            /* width: 30px; */
            display: flex;
            align-items: center;
            /* padding: 0px 5px; */
            /* margin: 2px;
            border: 2px solid red; */
            border-radius: 10px;
        }    
        input{
            /* width: 30px; */
            /* display: flex; */
            /* align-items: center; */
            /* padding: 0px 5px; */
            margin: 2px;
            /* border: 2px solid red; */
            border-radius: 7px;
            padding: 2px;
        }            
     